<h2>にっき〜ず！について</h2>
<div class="mybox">

日記とブログって何が違うんだろう・・・？<br/>
<br/>
オンライン上の日記とは日々のできごとを綴りますが、誰かに見られても見られなくてもいいです。<br/>
一方ブログは誰かに読まれることを前提として書きます。<br/>
その内容は情報発信であったり日常のひとコマであったりします。<br/>
そして読んだ人からのコメントがつくこともある双方向のコミュニケーションとなっています。<br/>
<br/>
このにっき〜ずは、双方向のコミュニケーションではなく一人でこっそり日々の出来事を綴りたい人のための日記サイトです。
</div>
