<div class="slideshow jumbotron">
 <div class="container">
    <div class="main">
       <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
       <img src="assets/child.jpeg" width="500" height="300">
       <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
    </div>
    <nav class="picture">
      <ul>
        <li class="current"><img src="assets/child.jpeg" width="55" height="40"></li>
        <li><img src="assets/blackcats.jpeg" width="55" height="40"></li>
        <li><img src="assets/koreandish.jpeg" width="55" height="40"></li>
        <li><img src="assets/sunset.jpeg" width="55" height="40"></li>
        <li><img src="assets/travel.jpeg" width="55" height="40"></li>
      </ul>
    </nav>
 </div>
</div>
<div class="center jumbotron">

<h3>日記を読む<small>（ログイン不要）</small></h3>

  <h4>↓　カテゴリーから選択　↓ </h4>
　<ul>
     <li>★家族</li>
     <li>★旅</li>
     <li>★グルメ</li>
     <li>★その他</li>
  </ul>
 
</div>
