<div class="jumbotron">

 
</div>
<div class="center jumbotron">

<h3>日記を読む<small>（ログイン不要）</small></h4>

  <h4>↓　カテゴリーから選択　↓ </h4>
　<ul>
     <li>★家族</li>
     <li>★旅</li>
     <li>★グルメ</li>
     <li>★その他</li>
  </ul>
 
</div>
