<h2>姉妹サイト</h2>
<div class="mybox">

このサイトの管理人が運営している他のサイト（姉妹サイト）の紹介です。<br/>
<br/>
１．★まめリンガル★<br/>
韓国在住のまめちゃんが、海外で子供を日韓バイリンガルに育てようと奮闘しているバイリンガル子育てのブログ。<br/>
<br/>
<a href="http://www.mamelingual.com/", target="_blank">http://www.mamelingual.com/</a>
<br/>
<br/>
</div>
