<h2>免責事項</h2>
<div class="mybox">

●<big>免責事項</big><br/>
当サイトからリンクやバナーなどによって他のサイトに移動された場合、移動先サイトで提供される情報、サービス等について一切の責任を負いません。　当サイトのコンテンツ・情報につきまして、可能な限り正確な情報を掲載するよう努めておりますが、誤情報が入り込んだり、情報が古くなっていることがあります。　当サイトに掲載された内容によって生じた損害等の一切の責任を負いかねますのでご了承ください。<br/>
<br/>
<br/> 
●<big>外部サイトについて</big><br/>
当サイトには外部サイトへのリンクが含まれています。これらの外部サイトのコンテンツに対して一切責任を負いません。<br/>
<br/>
<br/>
●<big>リンクについて</big><br/>
当サイト「にっき〜ず！」はリンクフリーです。トップページ、記事など、公開しているページであれば、どのページにリンクしていただいても問題ありません。ただし画像などへの直リンクなどは禁止させて頂いております。<br/>
<br/>
<br/>
●<big>著作権について</big><br/>
当サイト「にっき〜ず！」に掲載されている情報についての著作権は放棄しておりません。当サイトからの引用に関しましては「引用元の明示」によって無償で引用頂けます。ただし、全文転載はご遠慮ください。<br/>
<br/>
</div>
