/*
Error: File to import not found or unreadable: bootstrap.
        on line 1 of /home/ec2-user/environment/nikkizu/app/assets/stylesheets/custom.css.scss

1: @import "bootstrap";
2: 
3: /* universal *\/
4: 
5: html {
6:   overflow-y: scroll;

Backtrace:
/home/ec2-user/environment/nikkizu/app/assets/stylesheets/custom.css.scss:1
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.6.0/lib/sass/tree/import_node.rb:67:in `rescue in import'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.6.0/lib/sass/tree/import_node.rb:45:in `import'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.6.0/lib/sass/tree/import_node.rb:28:in `imported_file'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.6.0/lib/sass/tree/import_node.rb:37:in `css_import?'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.6.0/lib/sass/tree/visitors/perform.rb:310:in `visit_import'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.6.0/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.6.0/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.6.0/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.6.0/lib/sass/stack.rb:135:in `with_frame'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.6.0/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.6.0/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.6.0/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.6.0/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.6.0/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.6.0/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.6.0/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.6.0/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.6.0/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.6.0/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.6.0/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.6.0/lib/sass/tree/visitors/perform.rb:157:in `visit'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.6.0/lib/sass/tree/visitors/perform.rb:10:in `visit'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.6.0/lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.6.0/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.6.0/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.6.0/lib/sass/engine.rb:307:in `render_with_sourcemap'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.6.0/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.6.0/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.6.0/lib/sass/plugin/compiler.rb:209:in `each'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.6.0/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.6.0/lib/sass/plugin.rb:82:in `update_stylesheets'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.6.0/lib/sass/exec/sass_scss.rb:338:in `watch_or_update'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.6.0/lib/sass/exec/sass_scss.rb:51:in `process_result'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.6.0/lib/sass/exec/base.rb:50:in `parse'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.6.0/lib/sass/exec/base.rb:18:in `parse!'
/usr/local/rvm/gems/ruby-2.4.1/gems/sass-3.6.0/bin/scss:13:in `<top (required)>'
/usr/local/rvm/gems/ruby-2.4.1/bin/scss:23:in `load'
/usr/local/rvm/gems/ruby-2.4.1/bin/scss:23:in `<main>'
/usr/local/rvm/gems/ruby-2.4.1/bin/ruby_executable_hooks:24:in `eval'
/usr/local/rvm/gems/ruby-2.4.1/bin/ruby_executable_hooks:24:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: bootstrap.\A         on line 1 of /home/ec2-user/environment/nikkizu/app/assets/stylesheets/custom.css.scss\A \A 1: @import \"bootstrap\";\A 2: \A 3: /* universal */\A 4: \A 5: html {\A 6:   overflow-y: scroll;"; }
