@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  background-color: #ffbd7a;
}

.center h1 {
  margin-bottom: 10px;
}

ul li{
  list-style: none;
  display: inline;
  margin-right: 10px;
}

.slideshow  {
  text-align: left;
  // width: 300px;
  // margin: 0 auto;
}

.main {
  display: flex;
  justify-content: center;
  margin: auto;
}

/* nav picture */

// nav ul {
//   padding: 0;
//   margin: 0;
//   list-style: none;
// }

.picture ul {
  padding: 0;
  margin: 0;
  position: relative;
  left: 50%;
  float: left;
}

.picture li {
  padding: 6px 0 0 0;
  float: left;
  position: relative;
  left: -50%;
  float: left;
  cursor: pointer;
  opacity: 0.6;
}

.picture li:hover {
  opacity: 1;
}

.picture li.current {
  opacity: 1;
}

.picture li + li {
  margin-left: 6px;
}


 



// ヘッダー 
.navbar {
  background-color: #0080ff;
  padding-top: 5px;
  color: #191970;
}


// #navbarEexample7 {
//     float: right;
// }

#logo {
  float: left;
  margin-right: 10px;
  font-size: 20px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 12px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #ffdead;
  text-decoration: none;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 30px;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
  color: #000000;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


// フッター

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}


footer ul {
  float: right;
  list-style: none;
}

.mybox{
    border: 1px solid #f0b8bf;
    border-radius: 5px;
    padding: 10px;
    position: relative;
}
.mybox:before{
    background-color: rgba(255,255,255,0.7);
    border-radius: 5px;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 5px;
    z-index: -1;
}
.mybox:after{
    background: repeating-linear-gradient(-45deg, #f5d5da, #f5d5da 5px, #fcf0f1 0, #fcf0f1 10px);
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
}