<footer class="footer">
  <nav>
    <div class="copyright">Copyright©2018 にっき〜ず！ All Rights reserved.</div>
    <div class='footer-list'>
    <ul>
      <li><%= link_to "免責事項", "#" %></li>
      <li><%= link_to "お問い合わせ", "#" %></li>
    </ul>
    </div>
  </nav>
</footer>