<footer class="footer">
  <nav>
    <small>Copyright©2018 Nikkizu! All Rights reserved.</small>
  
    <ul>
      <li><%= link_to "お問い合わせ", contact_path %></li>
      <li><%= link_to "免責事項", termsandconditions_path %></li>
    </ul>
  </nav>
</footer>