<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
		    <%= link_to "にっき〜ず！（★毎日の思い出を日記に綴ろう！★）", root_path, id: "logo" %>
	    <nav>	
	        <ul class="nav navbar-nav navbar-right">
			  <li><%= link_to "にっき〜ず！について", about_path %></li>
			  <li><%= link_to "姉妹サイト", link_path %></li>
			  <li><a href="#" class="navbar-link">新規登録</a></li>
			  <li><a href="#" class="navbar-link">ログイン</a></li>
			</ul>
	    </nav>
			  <!--<%= link_to "users", "#" %>-->
			  <!--<p class="navbar-text navbar-right">-->
			  <!--<a href="#" class="navbar-link">新規登録</a>-->
			  <!--<a href="#" class="navbar-link">ログイン</a></p>-->
			<!--</div>-->
		</div>
</header>